@{
  Layout = "_Layout";
}
@using BestRestaurants.Models;
<h1>Cuisine #@Model.CuisineId : @Model.CuisineName</h1>

<p>@Html.ActionLink("Edit Cuisine","Edit",new {id = Model.CuisineId})</p>
<p>@Html.ActionLink("Delete Cuisine", "Delete",new {id = Model.CuisineId})</p>
<p>@Html.ActionLink("Go Home","Index","Home")</p>
